{{> menuNav}}

<section class="container">
    <div class="glass row-1">
        <h2>Today's Patients</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Glucose (mmol/L)</th>
                    <th>Weight (kg)</th>
                    <th>Insulin (doses)</th>
                    <th>Steps (count)</th>
                </tr>
            </thead>
            <tbody>
                {{#each patients}}
                <tr>
                    <td><a href="#">{{nickname}}</a></td>
                    <td>
                        {{#if (inRange metrics.glucose.lastRecord metrics.glucose.threshold.low
                        metrics.glucose.threshold.high) }}
                        {{metrics.glucose.lastRecord}}
                        {{else}}
                        <p class="status status-alert">{{metrics.glucose.lastRecord}}</p>
                        {{/if}}

                    </td>
                    <td>
                        {{#if (inRange metrics.weight.lastRecord metrics.weight.threshold.low
                        metrics.weight.threshold.high) }}
                        {{metrics.weight.lastRecord}}
                        {{else}}
                        <p class="status status-alert">{{metrics.weight.lastRecord}}</p>
                        {{/if}}
                    </td>
                    <td>
                        {{#if (inRange metrics.insulin.lastRecord metrics.insulin.threshold.low
                        metrics.insulin.threshold.high) }}
                        {{metrics.insulin.lastRecord}}
                        {{else}}
                        <p class="status status-alert">{{metrics.insulin.lastRecord}}</p>
                        {{/if}}
                    </td>
                    <td>
                        {{#if (inRange metrics.steps.lastRecord metrics.steps.threshold.low
                        metrics.steps.threshold.high) }}
                        {{metrics.steps.lastRecord}}
                        {{else}}
                        <p class="status status-alert">{{metrics.steps.lastRecord}}</p>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

</section>

<section class="container-2">
    <div class="register-container">
        <p class="form__text">
            <h2 class="form__title">Add new patient</h2>
            
            <div>
            <details>
                <summary class="form__link"> 
                    <div class="click"> Click here to register a new patient </div>
                </summary>

                <form class="form" action="/registerPatient" method="POST">
                    
                    <div class="form__message form__message--error"></div>

                    <div class="form__input-group">
                        <input type="text" class="form__input" autofocus placeholder="Name" name = "username">
                        <div class="form__input-error-message"></div>
                    </div>

                    <div class="form__input-group">
                        <input type="text" class="form__input" autofocus placeholder="Email address" name = "email">
                        <div class="form__input-error-message"></div>
                    </div> 

                    <div class="form__input-group">
                        <input type="password" class="form__input" autofocus placeholder="Password" name = "password">
                        <div class="form__input-error-message"></div>
                    </div>

                    <button class="form__button" type="submit" value="Register">Register</button>
                </form>
            </details>
        </p>  
    </div>

</section>