<h3>Loop through User array here</h3>
{{#each data}}
    <li>{{this.id}}</li>
    <li>{{this.username}}</li>
    <h3>Loop through Related Users inner array here</h3>
        {{#each this.related_users}}
        {{!-- (access inner array properties) --}}
            <li>{{this.id}}</li>
            <li>{{this.username}}</li>
        {{/each}}
{{/each}}

<h3>Loop through Weight Array here</h3>
{{#each weight}}
<li>{{this.value}}</li>
{{/each}}


<a href="/glucose">Click here to zoom in on your blood glucose measurements</a>