<nav>
    <ul>
        <li class="logo">DIABETES@HOME</li>
        <li class="items"><a href="#">Home</a></li>
        <li class="items"><a href="#">About</a></li>
        <li class="items"><a href="#">Blogs</a></li>
        <li class="items"><a href="#">Contact</a></li>
        <li class="items"><a href="#">Feedback</a></li>
        <li class="btn" onclick="show()"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>

<script>
    function show(){
        var x = document.getElementsByClassName("items")[0];
        var nav = document.getElementsByClassName("items");
        if (x.style.display === "none") {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('hide');
            }
        } else {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('show');
            }
        }
    }
</script>

<section class= "container">    
    <div class = "column-1">
        <div class = "glass">
            <h2>Personal</h2>
            <div class = 'personal widget'>
                <p>Good {{timeString}}, {{user.firstName}}. You are on a streak of {{user.streak}}!</p>
            </div>
        </div>

        <div class = "glass">
            <div>
                <input type="checkbox" id ='collapsible-unread'>
                <label for="collapsible-unread">
                    <h2>Unread</h2>
                    <div class = 'unread widget'>
                        <p>{{user.clinicianMessage}}</p>
                    </div>
                </label>
                {{!-- <div class="collapsible-message">
                    <p>{{user.clinicianMessage}}</p>
                </div> --}}
                <div class = 'unread-under'></div>
            </div>
        </div>

        <div class = "glass">
            <h2>Today Measurements</h2>
            <div class = "measurement-wrapper">
                {{#each measurements}}
                    <div class = "measurement-widget-container">
                        <input type="checkbox" id ='collapsible-note-${i}'>
                        <label for='collapsible-note-${i}'>
                            <div class = 'measurement-widget'>
                                <div class = "meansurement-icon"></div>
                        
                                <div class = "measurement-data">
                                    <div class = "measurement-data-container">
                                        <h2>{{lastRecord}}</h2>
                                    </div>
                                    <div class = "measurement-unit-container">
                                        <p>{{unit}}<p>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <div class="collapsible-note-${i}">
                            <p>dasdaskdjsakdasjdkajdakdjakdjaskdja</p>
                        </div>
                        <div class = "measurement-under"></div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class = "column-2">
        <div class = "glass">
            <div class = 'leaderboard'>
                <h2>Leaderboard</h2>
                {{#each leaderboard}}
                    <div class="user rank-widget">
                        <div class= "user-info">
                            <h3>{{this.nickname}}</h3>
                            <div class="progress"></div>
                        </div>
                        <h2 class="percentage">{{this.engagementRate}}%</h2>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<div class="circle1"></div>
<div class="circle2"></div>