{{> menuNav}}

<section class= "container">    
    <div class = "column-1">
        <div class = "glass">
            <h2>Personal</h2>
            <div class = 'personal widget'>
                <div>
                    <p>Good {{timeString}}, {{user.firstName}}. You are on a streak of {{user.streak}} days!</p>

                    {{#if (inRange user.engagementRate 0 0.8)}}
                    {{else}} <p>Congratulations! Here is your badge for having {{user.engagementRate}}% engagement rate</p> {{/if}}
                </div> 

                {{#if (inRange user.engagementRate 0 0.8)}}
                {{else}} <img src="/images/star.png" alt="{{unit}} icon" width="80" height="80"> {{/if}}                              
            </div>
        </div>

        <div class = "glass">
            <div>
                <input type="checkbox" id ='collapsible-unread' name="collapsible">
                <label for="collapsible-unread">
                    <h2>Unread</h2>
                    <div class = 'unread widget'>
                        <p>You have received a new message from your clinician.</p>
                    </div>
                </label>
                <div class="collapsible-message">
                    <p class="cli-message">{{user.clinicianMessage}}</p>
                </div>
                <div class = 'unread-under'></div>
            </div>
        </div>

        <div class = "glass">
            <div class = 'leaderboard'>
                <h2>Leaderboard</h2>
                {{#each leaderboard}}
                    <div class="user rank-widget">
                        <div class= "user-info">
                            <h3>{{this.nickname}}</h3>
                            <div class="progress"></div>
                        </div>
                        <h2 class="percentage">{{this.engagementRate}}%</h2>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class = "column-2">
        <div class = "glass">
            <h2>Today Measurements</h2>
            <div class = "measurement-wrapper">
                {{#each measurements}}
                
                    <div class = "measurement-widget-container">
                        <div class = 'measurement-widget'>
                            <div class = "meansurement-icon">
                                {{#if (eq this.unit "mmol/L") }} <img src="/images/blood.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                                {{#if (eq this.unit "steps") }} <img src="/images/steps.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                                {{#if (eq this.unit "doses") }} <img src="/images/needles.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                                {{#if (eq this.unit "kg") }} <img src="/images/scales.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                            </div>
            
                            <div class = "measurement-data">
                                <div class = "measurement-data-container">
                                    {{#if (eq this.lastRecord undefined) }}
                                        <form action="postdaily" method = "POST">
                                            <div class="measurement-form">
                                                <label>
                                                    <input type="number" name={{@key}} id="measurement" step=".01"
                                                    class="form__input" autocomplete="off" placeholder="({{@key}})">  {{unit}}
                                                </label>

                                                <input type="text" name="comment" class="comment-input" placeholder="Add a comment...">
                                                
                                                <input type="submit"/>
                                            </div> 
                                        </form>
                                    {{else}}
                                        <p><b style="font-size: 2.5em">{{lastRecord}}</b>  {{unit}}</p>
                                    {{/if}}   

                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}

            </div>
        </div>
    </div>
</section>