<nav>
    <ul>
        <li class="logo">DIABETES@HOME</li>
        <li class="btn" onclick="show()"><a href="#"><i class="fas fa-bars"></i></a></li>
    </ul>
</nav>

<script>
    function show(){
        var x = document.getElementsByClassName("items")[0];
        var nav = document.getElementsByClassName("items");
        if (x.style.display === "none") {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('hide');
            }
        } else {
            for (let i = 0; i < nav.length; i++) {
                nav[i].classList.toggle('show');
            }
        }
    }
</script>

<section class= "container">    
    <div class = "column-1">
        <div class = "glass">
            <h2>Personal</h2>
            <div class = 'personal widget'>
                <p>Good {{timeString}}, {{name}}. You are on a streak of {{streak}}!</p>
            </div>
        </div>

        <div class = "glass">
            <div>
                <input type="checkbox" id = "collapsible-unread">
                <label for="collapsible-unread"><h2>Unread</h2></label>
                <div class = 'unread widget'>
                    <p> {{clinician}} sent you a message at {{messageTime}}: </p>
                </div>
                <div class="collapsible-message">
                    <p> {{messageContent}} </p>
                </div>
                <div class = 'unread-under'></div>
            </div>
        </div>
    </div>

    <div class = "column-2">
        <div class = "glass">
            <div class = 'leaderboard'>
                <h2>Leaderboard</h2>
                {{#each user}}
                    <div class="user rank-widget">
                        <div class= "user-info">
                            <h3>{{this.[0]}}</h3>
                            <p>New memeber</p>
                            <div class="progress"></div>
                        </div>
                        <h2 class="percentage">{{this.[1]}}%</h2>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>

<div class="circle1"></div>
<div class="circle2"></div>