<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
    <h2>{{patient.firstName}} {{patient.lastName}}</h2>
    <div>
        <canvas id="myChart"></canvas>
        <script>
            const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels:  Array.from(Array(28).keys()).reverse().map(e => {
                        const d = new Date(); 
                        d.setDate(d.getDate() - e); 
                        return d.toLocaleDateString();}),
                    datasets: [{
                        data: [{{datapoints}}],
                        borderColor: "#b374df",
                        borderWidth: 1
                    }, {
                        data: new Array(28).fill({{low}}),
                        borderColor: "#ff1212",
                        borderWidth: 1,
                        borderDash: [10, 5],
                        hitRadius: 0
                    }, {
                        data: new Array(28).fill({{high}}),
                        borderColor: "#ff1212",
                        borderWidth: 1,
                        borderDash: [10, 5],
                        hitRadius: 0
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false },
                        tooltips: { enabled: false },
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 25,
                            hoverRadius: 5
                        }
                    },
                    scales: {
                        x: {
                            grid: { display: false },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 10
                            }
                        },
                        y: {
                            min: {{ymin}}, 
                            max: {{ymax}}
                        }
                    }
                }
            });
        </script>
    </div>
    <table>
        <tr>
            <th>Date</th>
            <th>{{type}}</th>
            <th>Comment</th>
        </tr>
        {{#each table}}
            <tr>
                <td>{{@key}}</td>
                {{#each this}}
                    <td>{{this}}</td>
                {{/each}}
            </tr>
        {{/each}}
    </table>
</body>
