{{> menuNav}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
    <div class = "viewPatientHeader">
        <h1>{{patient.firstName}} {{patient.lastName}}</h1>
        
        <div class="editPatientIcon">
            <img src="/images/pen.png" alt="pen icon" width="40" height="40">
        </div>

        <div class="sendMessageContainer" >
            <input type="checkbox" id = "messageIcon"><br>

            <label for="messageIcon">
                <img src="/images/message.png" alt="message icon" width="80" height="80" >
            </label>

            <div class="messagePlaceHolder">
                <form action="message" class="messageForm"> 
                    <input type="text" class="form__input" autofocus name="message" placeholder="Write Your Message!"><br>
                    <button class="form__button" type="submit" value="Register">Send</button>
                </form>
            </div>
        </div>

     
    </div>



    <div>
        <canvas id="myChart"></canvas>
        <script>
            const ctx = document.getElementById('myChart');
            const myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels:  Array.from(Array(28).keys()).reverse().map(e => {
                        const d = new Date(); 
                        d.setDate(d.getDate() - e); 
                        return d.toLocaleDateString();}),
                    datasets: [{
                        data: [{{datapoints}}],
                        borderColor: "#b374df",
                        borderWidth: 1
                    }, {
                        data: new Array(28).fill({{chart.low}}),
                        borderColor: "#ff1212",
                        borderWidth: 1,
                        borderDash: [10, 5],
                        hitRadius: 0
                    }, {
                        data: new Array(28).fill({{chart.high}}),
                        borderColor: "#ff1212",
                        borderWidth: 1,
                        borderDash: [10, 5],
                        hitRadius: 0
                    }]
                },
                options: {
                    plugins: {
                        legend: { display: false },
                        tooltips: { enabled: false },
                    },
                    elements: {
                        point: {
                            radius: 0,
                            hitRadius: 25,
                            hoverRadius: 5
                        }
                    },
                    scales: {
                        x: {
                            grid: { display: false },
                            ticks: {
                                autoSkip: true,
                                maxTicksLimit: 10
                            }
                        },
                        y: {
                            min: {{chart.ymin}}, 
                            max: {{chart.ymax}}
                        }
                    }
                }
            });
        </script>
    </div>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <th>Date</th>
            {{#each trackingTypes}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        {{#each allDays}}
            <tr>
                <td>{{@key}}</td>
                {{#each this}}
                    {{#if this.comment}}
                        <td class="tooltip">{{this.measurement}}
                            <span class="tooltiptext">{{this.comment}}</span>
                        </td>
                    {{else}}
                        <td>{{this.measurement}}</td>
                    {{/if}}
                {{/each}}
            </tr>
        {{/each}}
    </table>
    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
        <tr>
            <th>Clinician Note</th>
        </tr>
        <tr>
            <td>({{today}})</td>
            <td><form><input></form></td>
        </tr>
        {{#each notes}}
            <tr>
                <td>{{@key}}</td>
                <td>{{this}}</td>
            </tr>
        {{/each}}
    </table>
</body>
