{{> menuNav}}

<div  class = "history-title">
    <h2>History</h2>
</div>

<div class= "date-container"> 

    <div class= "pre-arrow">
        <form action="nextDate" method="POST">
            <input type="hidden" name="" value= {{ elper-function-needed }}>
            <input type="image" src="images/w_arrow_right.png" alt="forward arrow" width="80" height="80">
        </form>
    </div>
    
    
    <div class= "view-date"> <h2> {{viewDate}} </h2> </div>        
    <div class= "next-arrow"> 
        <form action="nextDate" method="POST">
            <input type="hidden" name="" value= {{ helper-function-needed }}>
            <input type="image" src="images/w_arrow_right.png" alt="forward arrow" width="80" height="80">
        </form>
    </div>
</div>


<section class= "container">        
    <div class = "glass">
        <h2>Measurements</h2>
        <div class = "measurement-wrapper">
            {{#each measurements}}
            
                <div class = "measurement-widget-container">
                    <div class = 'measurement-widget'>
                        <div class = "meansurement-icon">
                            {{#if (eq this.unit "mmol/L") }} <img src="/images/blood.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                            {{#if (eq this.unit "steps") }} <img src="/images/excercise.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                            {{#if (eq this.unit "doses") }} <img src="/images/insulin.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                            {{#if (eq this.unit "kg") }} <img src="/images/scale.png" alt="{{unit}} icon" width="80" height="80"> {{else}} {{/if}}   
                        </div>
        
                        <div class = "measurement-data">
                            <div class = "measurement-data-container">
                                {{#if (eq this.lastRecord undefined) }}
                                    <form action="postdaily" method = "POST">
                                        <div class="measurement-form">
                                            <label>
                                                <input type="number" name={{@key}} id="measurement" step=".01"
                                                class="form__input" autocomplete="off" placeholder="({{@key}})">  {{unit}}
                                            </label>

                                            <input type="text" name="comment" class="comment-input" placeholder="Add a comment...">
                                            
                                            <input type="submit"/>
                                        </div> 
                                    </form>
                                {{else}}
                                    <p><b style="font-size: 2.5em">{{lastRecord}}</b>  {{unit}}</p>
                                {{/if}}   

                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</section>
